@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HELVETICANEUECYR-ROMAN.OTF');
	src: local('HELVETICANEUECYR-ROMAN');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
	url('../assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}