@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeueCyr-Light.eot');
	src: local('HelveticaNeueCyr-Light'),
	url('../assets/fonts/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/HelveticaNeueCyr-Light.woff') format('woff'),
	url('../assets/fonts/HelveticaNeueCyr-Light.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeueCyr-Medium.eot');
	src: local('HelveticaNeueCyr-Medium'),
		url('../assets/fonts/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
		url('../assets/fonts/HelveticaNeueCyr-Medium.woff') format('woff'),
		url('../assets/fonts/HelveticaNeueCyr-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeue';
	src: url('../assets/fonts/HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'),
	url('../assets/fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
	url('../assets/fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
	url('../assets/fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}