@media (max-width: 1440px) {
  .container {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .section_title {
    max-width: 900px; }
  .contact .container .budge_list {
    right: 40px; }
  .media_block {
    max-width: 785px; }
  .title--sm br {
    display: none; }
  .gallery .item .text .arr svg {
    width: 55px; } }

@media (max-width: 1200px) {
  .header .header_top .nav_menu .nav_item {
    width: 180px;
    font-size: 18px; }
  .team .team_gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    padding: 40px; }
  .media_block .badge {
    bottom: 0;
    top: unset;
    right: -5%;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  .gallery .item .text .arr {
    display: none; }
  .page_case .solution .solution_location {
    width: 25%;
    margin-left: 10px; } }

@media (max-width: 968px) {
  .btn {
    max-width: 300px;
    font-size: 26px; }
  .section_title {
    font-size: 40px;
    margin-bottom: 40px; }
    .section_title .title--sm {
      margin-top: 0.7em; }
  .br_toHide {
    display: none; }
  .header .header_body .header_title__wrap .title_l {
    font-size: 90px; }
  .header .header_body .header_title__wrap .title_m {
    font-size: 60px; }
  .header .header_body .header_title__wrap .title_s {
    font-size: 40px;
    margin-top: 24px; }
  .header .header_top {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0;
    background: var(--mBlack);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 4; }
    .header .header_top .nav_menu {
      display: none; }
    .header .header_top .menu_btn {
      width: 55px;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer; }
      .header .header_top .menu_btn:hover .menu_line:nth-child(1):after {
        transition-delay: 0.1s;
        left: 0; }
      .header .header_top .menu_btn:hover .menu_line:nth-child(2):after {
        transition-delay: 0.2s;
        left: 0; }
      .header .header_top .menu_btn:hover .menu_line:nth-child(3):after {
        transition-delay: 0.3s;
        left: 0; }
      .header .header_top .menu_btn .menu_line {
        width: 100%;
        height: 3px;
        background: #fff;
        position: relative;
        overflow: hidden; }
        .header .header_top .menu_btn .menu_line:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          left: 100%;
          top: 0;
          background: var(--mYellow);
          -webkit-transition: ease-in-out .2s;
          -moz-transition: ease-in-out .2s;
          -ms-transition: ease-in-out .2s;
          -o-transition: ease-in-out .2s;
          transition: ease-in-out .2s; }
    .header .header_top .nav_menu--mob {
      display: none; }
      .header .header_top .nav_menu--mob.open {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        z-index: 9999; }
      .header .header_top .nav_menu--mob .nav_menu {
        display: flex;
        flex-direction: column; }
        .header .header_top .nav_menu--mob .nav_menu .nav_item {
          height: 42px;
          margin: 7px 0;
          border: 2px solid var(--mBlack);
          background: #fff;
          color: var(--mBlack); }
          .header .header_top .nav_menu--mob .nav_menu .nav_item:hover {
            background: var(--mYellow); }
      .header .header_top .nav_menu--mob .nav_menu--wrapper {
        position: relative;
        padding: 35px; }
        .header .header_top .nav_menu--mob .nav_menu--wrapper .menu_close {
          position: absolute;
          width: 30px;
          height: 30px;
          top: 0;
          right: 0;
          cursor: pointer; }
          .header .header_top .nav_menu--mob .nav_menu--wrapper .menu_close .menu_line {
            width: 100%;
            height: 2px;
            background: #fff;
            position: absolute;
            top: 50%;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg); }
            .header .header_top .nav_menu--mob .nav_menu--wrapper .menu_close .menu_line:last-child {
              -webkit-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg); }
  .header .header_body {
    margin-top: 20px; }
    .header .header_body .header_title__wrap {
      margin-top: 150px; }
    .header .header_body .header_btn__wrap .btn {
      max-width: 300px;
      font-size: 26px; }
  .wedo .wedo_table {
    grid-template-columns: none; }
    .wedo .wedo_table .table .title {
      font-size: 40px; }
  .wedo .wedo_slider--wrap .wedo_slider .slide {
    margin-right: 0;
    font-size: 40px;
    padding: 40px 50px; }
  .cases {
    padding-top: 60px; }
    .cases .cases_gallery {
      grid-template-columns: none; }
      .cases .cases_gallery .case:nth-child(2) {
        display: none; }
      .cases .cases_gallery .case:nth-child(3) {
        display: none; }
    .cases .cases_taglist {
      display: none; }
  .clients {
    padding-top: 60px; }
    .clients .section_title {
      margin-bottom: 80px; }
      .clients .section_title .badge {
        font-size: 16px;
        right: 20%; }
    .clients .c-list .item img {
      width: 130px; }
    .clients .c-list .item.lg img {
      width: 240px; }
  .contact {
    padding: 60px 0; }
    .contact .budge_list .badge:last-child {
      display: none; }
  .team {
    padding: 60px 0; }
    .team .team_gallery {
      padding: 0; }
      .team .team_gallery .item .arr svg {
        width: 60px;
        height: auto; }
  .vacancy {
    padding-top: 0; }
    .vacancy .vacancy_grid {
      grid-template-columns: none; }
  .contacts_cols .col .row {
    font-size: 24px; }
  .portfolio .header .header_body .header_btn__wrap {
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 100px; }
    .portfolio .header .header_body .header_btn__wrap .case_box {
      padding-top: 40px;
      left: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      background: var(--mBlack); }
      .portfolio .header .header_body .header_btn__wrap .case_box.active {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1); }
      .portfolio .header .header_body .header_btn__wrap .case_box .case_item {
        font-size: 30px; }
        .portfolio .header .header_body .header_btn__wrap .case_box .case_item .badge {
          max-width: 175px;
          font-size: 15px;
          top: -10px; }
  .portfolio .cases .cases_gallery .case:nth-child(n) {
    display: block; }
  .gallery {
    grid-template-columns: repeat(2, 1fr); }
  .partners .section_title {
    margin-bottom: 21px; }
  .partners .partners_about .media_block {
    border: none;
    margin-top: 0;
    padding: 0; }
    .partners .partners_about .media_block .badge {
      display: none; }
  .partners .partners_about .media_block--wrap {
    flex-direction: column;
    margin-top: 30px; }
    .partners .partners_about .media_block--wrap .sm {
      width: 100%;
      max-width: unset;
      border: 2px solid #fff;
      padding: 0.6em 1em;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-bottom: 20px; }
  .bloggers {
    padding: 60px 0; }
  .channels {
    padding: 40px 0; }
  .page_case .header .header_body .case_logo {
    display: none; }
  .page_case .header .header_body .case_about {
    width: 100%; }
  .page_case .solution .flex_block .block_bordered {
    width: 100%; }
  .page_case .solution .flex_block .solution_location {
    display: none;
    margin: 0; }
  .page_case .player {
    padding-top: 40px; }
    .page_case .player .video {
      position: relative;
      padding-bottom: 56.25%;
      /* 16:9 */
      padding-top: 25px;
      width: 100%;
      height: 0; }
      .page_case .player .video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
  .page_case .block_bordered {
    padding: 15px;
    font-size: 15px; }
  .page_case .badge {
    font-size: 15px;
    max-width: 180px; }
    .page_case .badge.yellow {
      max-width: 140px; }
    .page_case .badge .dot:nth-child(1) {
      left: 12px; }
    .page_case .badge .dot:nth-child(3) {
      right: 12px; }
  .page_case .results {
    padding: 40px 0; }
    .page_case .results .table {
      border: 2px solid var(--mBlack);
      grid-template-columns: repeat(2, 1fr); }
      .page_case .results .table .col {
        border: none; }
        .page_case .results .table .col:last-child {
          grid-column: 1/3;
          max-width: 300px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center; }
        .page_case .results .table .col .badge {
          right: -105%;
          bottom: -120%; }
        .page_case .results .table .col .title {
          font-size: 30px; }
        .page_case .results .table .col .text {
          font-size: 25px;
          margin-top: 5px; }
      .page_case .results .table.table_two .col:nth-child(2) {
        grid-column: 2;
        border: none; }
      .page_case .results .table.table_two .col .badge {
        bottom: 0; }
  .page_case .reviews {
    display: none; }
  .page_case .cases_done {
    padding: 40px 0 60px 0; }
    .page_case .cases_done .table {
      display: block; }
      .page_case .cases_done .table .col .row .list {
        padding-left: 0; }
  .footer {
    padding-top: 60px; }
  .popup-container .title .badge {
    bottom: -30px;
    right: -30px; }
  .page_contacts .header .container .header_body {
    margin-top: 0; }
  #preloader .bottom div {
    width: 100px;
    margin-right: 50px; }
  #preloader .line.line-one {
    -webkit-transform: rotate(65.3deg) translateY(35vh);
    -moz-transform: rotate(65.3deg) translateY(35vh);
    -ms-transform: rotate(65.3deg) translateY(35vh);
    -o-transform: rotate(65.3deg) translateY(35vh);
    transform: rotate(65.3deg) translateY(35vh);
    z-index: 2; }
  .alyona .about {
    grid-template-columns: repeat(2, 1fr); }
    .alyona .about .image .text .arr {
      display: none; }
    .alyona .about .info .text {
      font-size: 25px;
      line-height: 27px; } }

@media (max-width: 720px) {
  .alyona {
    padding-top: 60px;
    padding-bottom: 20px; }
    .alyona .about {
      display: flex;
      flex-direction: column; }
      .alyona .about .image .badge {
        top: 0;
        right: -15px;
        bottom: unset;
        -webkit-transform: rotate(15deg);
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -o-transform: rotate(15deg);
        transform: rotate(15deg); }
      .alyona .about .info {
        margin-top: 20px;
        padding: 0; } }

@media (max-width: 600px) {
  .section_title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px; }
    .section_title .title--sm {
      font-size: 15px; }
  .btn {
    max-width: 170px;
    font-size: 15px;
    padding: 10px; }
  .badge {
    font-size: 15px;
    max-width: 135px;
    padding: 5px; }
    .badge .dot {
      width: 8px;
      height: 8px; }
    .badge.sm {
      padding: 0; }
      .badge.sm .dot {
        width: 4px;
        height: 4px; }
  .line {
    font-size: 10px;
    height: 18px;
    line-height: 18px; }
  .to_all {
    margin-top: 28px; }
  .media .header {
    padding-bottom: 100px; }
    .media .header .container {
      min-height: auto; }
      .media .header .container .header_body {
        margin-top: 100px; }
      .media .header .container .media_block {
        margin-top: 40px; }
  .header .header_body {
    justify-content: center; }
    .header .header_body .header_title__wrap {
      margin-top: 0; }
      .header .header_body .header_title__wrap .title_l {
        font-size: 50px; }
      .header .header_body .header_title__wrap .title_m {
        font-size: 20px; }
      .header .header_body .header_title__wrap .title_s {
        font-size: 15px; }
    .header .header_body .header_btn__wrap .btn {
      font-size: 15px;
      max-width: 170px;
      padding: 10px; }
  .header .header_lines .line {
    font-size: 10px;
    height: 18px;
    line-height: 18px; }
    .header .header_lines .line:nth-child(1) {
      width: 1000px;
      -webkit-transform: rotate(-9deg);
      -moz-transform: rotate(-9deg);
      -ms-transform: rotate(-9deg);
      -o-transform: rotate(-9deg);
      transform: rotate(-9deg);
      left: -30px;
      bottom: 10vh; }
    .header .header_lines .line:nth-child(2) {
      width: 1000px;
      left: 100px;
      bottom: -5vh;
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      transform: rotate(15deg); }
  .wedo .wedo_table {
    margin-top: 20px;
    margin-bottom: 55px; }
    .wedo .wedo_table .table {
      padding: 20px; }
      .wedo .wedo_table .table .title {
        font-size: 18px; }
      .wedo .wedo_table .table .list {
        padding-right: 0; }
        .wedo .wedo_table .table .list .item {
          font-size: 15px; }
  .wedo .wedo_slider--wrap .wedo_slider {
    margin: 28px 0; }
    .wedo .wedo_slider--wrap .wedo_slider .slide {
      font-size: 18px;
      padding: 28px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      min-height: 100px; }
  .wedo .wedo_slider--wrap .slider_info {
    width: 126px; }
    .wedo .wedo_slider--wrap .slider_info .slider_counter {
      font-size: 15px; }
    .wedo .wedo_slider--wrap .slider_info .slider_control .arr svg {
      width: 55px; }
  .cases .badge {
    margin-bottom: 45px; }
  .cases .cases_gallery .case .image {
    height: 150px; }
  .cases .cases_gallery .case .info {
    bottom: 5px;
    left: 5px; }
    .cases .cases_gallery .case .info .arr svg {
      width: 55px; }
    .cases .cases_gallery .case .info .name {
      font-size: 15px; }
  .clients {
    padding-top: 40px;
    padding-bottom: 60px; }
    .clients .section_title {
      margin-bottom: 30px; }
      .clients .section_title .badge {
        max-width: 100px;
        font-size: 10px;
        padding: 4px 8px;
        -webkit-transform: rotate(60deg);
        -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
        -o-transform: rotate(60deg);
        transform: rotate(60deg);
        right: unset;
        left: 165px;
        bottom: -50px;
        display: none; }
        .clients .section_title .badge .dot:nth-child(1) {
          left: 10px; }
        .clients .section_title .badge .dot:nth-child(3) {
          right: 10px; }
    .clients .c-list {
      grid-gap: 20px;
      grid-row-gap: 40px; }
      .clients .c-list .item img {
        width: 100%; }
  .contact {
    padding: 40px 0; }
    .contact .container .section_title {
      width: 100%; }
    .contact .container .budge_list {
      right: 15px;
      top: -70px; }
      .contact .container .budge_list .badge {
        display: none; }
        .contact .container .budge_list .badge:first-child {
          display: block;
          font-size: 7px;
          max-width: 70px; }
        .contact .container .budge_list .badge .dot {
          width: 4px;
          height: 4px; }
          .contact .container .budge_list .badge .dot:first-child {
            left: 6px; }
          .contact .container .budge_list .badge .dot:last-child {
            right: 6px; }
        .contact .container .budge_list .badge .text {
          text-align: center; }
  .team .team_gallery {
    padding: 0;
    grid-gap: 0; }
    .team .team_gallery .item .text {
      bottom: 5px;
      left: 5px; }
      .team .team_gallery .item .text .arr {
        display: none; }
      .team .team_gallery .item .text .info {
        margin-left: 10px; }
        .team .team_gallery .item .text .info .name {
          font-size: 14px; }
        .team .team_gallery .item .text .info .position {
          font-size: 10px; }
  .vacancy {
    padding-top: 20px;
    padding-bottom: 80px; }
    .vacancy .section_title .badge {
      max-width: 70px;
      font-size: 7px;
      padding: 0;
      -webkit-transform: rotate(-25deg);
      -moz-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
      -o-transform: rotate(-25deg);
      transform: rotate(-25deg);
      right: unset;
      left: 200px;
      bottom: -20px; }
      .vacancy .section_title .badge .dot {
        width: 4px;
        height: 4px; }
        .vacancy .section_title .badge .dot:nth-child(1) {
          left: 6px; }
        .vacancy .section_title .badge .dot:nth-child(3) {
          right: 6px; }
    .vacancy .vacancy_grid {
      grid-gap: 14px; }
      .vacancy .vacancy_grid .btn {
        max-width: 200px; }
  .footer .contacts_cols {
    grid-template-columns: repeat(3, 1fr); }
    .footer .contacts_cols .col:nth-child(1) {
      grid-column: 1/4;
      margin-bottom: 20px; }
    .footer .contacts_cols .col.social {
      justify-content: flex-start; }
      .footer .contacts_cols .col.social .row {
        font-size: 15px; }
    .footer .contacts_cols .col .row {
      font-size: 15px;
      line-height: 1.2em;
      height: 25px; }
  .footer .to_top {
    right: 15px; }
    .footer .to_top svg {
      height: 55px; }
      .footer .to_top svg path {
        fill: var(--mYellow); }
  .portfolio .header .header_body {
    margin-top: 80px; }
    .portfolio .header .header_body .header_btn__wrap .case_box .case_item {
      font-size: 15px; }
      .portfolio .header .header_body .header_btn__wrap .case_box .case_item .badge {
        font-size: 10px;
        max-width: 100px;
        padding: 4px; }
        .portfolio .header .header_body .header_btn__wrap .case_box .case_item .badge .dot {
          width: 4px;
          height: 4px; }
          .portfolio .header .header_body .header_btn__wrap .case_box .case_item .badge .dot:nth-child(1) {
            left: 6px; }
          .portfolio .header .header_body .header_btn__wrap .case_box .case_item .badge .dot:nth-child(3) {
            right: 6px; }
  .media_block {
    padding: 15px;
    font-size: 15px;
    line-height: 18px; }
    .media_block .title {
      font-size: 20px; }
    .media_block .badge {
      font-size: 10px;
      max-width: 100px;
      bottom: -13px; }
      .media_block .badge .dot:nth-child(1) {
        left: 10px; }
      .media_block .badge .dot:nth-child(3) {
        right: 10px; }
  .partners {
    padding-top: 60px;
    padding-bottom: 60px; }
    .partners .partners_about .media_block--wrap .sm {
      padding: 0.8em 5em; }
  .gallery .item .text .info {
    margin-left: 0; }
    .gallery .item .text .info .name {
      font-size: 15px; }
    .gallery .item .text .info .position {
      font-size: 10px; }
  .bloggers {
    padding-top: 40px;
    padding-bottom: 0; }
    .bloggers .gallery {
      margin-top: 40px;
      margin-bottom: 0; }
  .channels .gallery {
    margin-top: 40px;
    margin-bottom: 0; }
  .to_all .link .arr svg {
    width: 55px; }
  .to_all .link .text {
    display: none; }
  .page_case .badge .dot {
    width: 4px;
    height: 4px; }
  .page_case .block_bordered {
    margin-top: 20px; }
  .page_case .header .container {
    min-height: auto; }
  .page_case .header .header_body {
    margin-top: 80px; }
    .page_case .header .header_body .case_about .title {
      font-size: 25px; }
    .page_case .header .header_body .case_about .tag_list .tag {
      font-size: 15px;
      padding: 5px 16px; }
    .page_case .header .header_body .case_about .case_text {
      font-size: 15px; }
  .page_case .task {
    padding: 20px 0; }
  .page_case .solution {
    padding: 20px 0; }
  .page_case .player {
    padding-top: 20px; }
    .page_case .player .badge_wrapper {
      margin-bottom: 13px; }
  .page_case .tag_list .btn {
    max-width: unset; }
  .page_case .results {
    padding-bottom: 0; }
    .page_case .results .table .col {
      padding: 20px; }
      .page_case .results .table .col .title {
        font-size: 20px; }
      .page_case .results .table .col .text {
        font-size: 15px;
        line-height: 18px;
        max-width: 170px; }
      .page_case .results .table .col .badge {
        bottom: -130px;
        right: -110%;
        padding: 0;
        max-width: 100px; }
        .page_case .results .table .col .badge .text {
          font-size: 10px; }
    .page_case .results .table.table_two {
      margin: 40px auto; }
      .page_case .results .table.table_two .col .badge {
        width: 100px;
        right: -105%;
        bottom: -22px; }
        .page_case .results .table.table_two .col .badge .text {
          font-size: 10px; }
  .page_case .cases_done {
    padding: 40px 0; }
    .page_case .cases_done .to_all {
      margin-top: 10px; }
    .page_case .cases_done .table .col .row {
      margin-bottom: 14px; }
      .page_case .cases_done .table .col .row .title {
        font-size: 10px; }
      .page_case .cases_done .table .col .row .list .item {
        font-size: 10px; }
  .popup-container {
    padding: 20px; }
    .popup-container .form {
      padding-top: 10px; }
    .popup-container .title {
      margin-bottom: 10px; }
      .popup-container .title .row {
        margin-bottom: 30px;
        font-size: 18px; }
      .popup-container .title .badge {
        right: 0;
        width: 100px; }
        .popup-container .title .badge .text {
          font-size: 10px; }
        .popup-container .title .badge .dot:nth-child(1) {
          left: 12px; }
        .popup-container .title .badge .dot:nth-child(3) {
          right: 12px; }
    .popup-container .input {
      font-size: 16px; }
    .popup-container .btn {
      margin-top: 0; }
  .page_contacts .header .container .header_body {
    margin-top: 100px; }
    .page_contacts .header .container .header_body .header_btn__wrap {
      margin-top: 20px;
      margin-bottom: 0; }
  #caseInWork .title .badge {
    max-width: 175px;
    font-size: 15px; }
  #confirmPopup .popup-container {
    padding-top: 30px;
    padding-bottom: 30px; }
  #confirmPopup .title {
    margin-bottom: 0; }
  #confirmPopup .badge {
    width: 100px; }
    #confirmPopup .badge.one {
      top: 0; }
    #confirmPopup .badge .text {
      font-size: 10px; }
    #confirmPopup .badge .dot:first-child {
      left: 12px; }
    #confirmPopup .badge .dot:first-child {
      right: 12px; }
  #preloader .logo {
    max-width: 400px;
    margin: 0 10%; }
  #preloader .text {
    font-size: 15px; }
  #preloader .bottom div {
    width: 50px;
    font-size: 10px; }
  #preloader .line.line-one {
    -webkit-transform: rotate(65.3deg) translateY(25vh);
    -moz-transform: rotate(65.3deg) translateY(25vh);
    -ms-transform: rotate(65.3deg) translateY(25vh);
    -o-transform: rotate(65.3deg) translateY(25vh);
    transform: rotate(65.3deg) translateY(25vh);
    z-index: 2; }
  .alyona {
    padding-bottom: 0; }
    .alyona .about .image .text .info .name {
      font-size: 15px;
      margin-bottom: 8px; }
    .alyona .about .image .text .info .position {
      font-size: 10px; }
    .alyona .about .image .badge {
      max-width: 100px;
      font-size: 10px;
      padding: 4px 0; }
      .alyona .about .image .badge .dot {
        width: 4px;
        height: 4px; }
        .alyona .about .image .badge .dot:first-child {
          left: 10px; }
        .alyona .about .image .badge .dot:last-child {
          right: 10px; }
    .alyona .about .info .text {
      font-size: 15px;
      line-height: 1.1em; } }

.mfp-fade .mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }
